<!--The content below is only a placeholder and can be replaced.-->


<div class="container-fluid">
  <div class="row header">
    <div class="col-md-12">
      <h1>{{ title }}</h1>
    </div>
  </div>
  <div class="row container-fotos">
    <div class="col-md-4">
      <img src="{{ foto1 }}" alt="{{foto1Desc}}" />
      <p>{{foto1Desc}}</p>
    </div>
    <div class="col-md-4">
      <img src="{{ foto2 }}" alt="{{foto2Desc}}" />
      <p>{{foto2Desc}}</p>
    </div>
    <div class="col-md-4">
      <img src="{{ foto3 }}" alt="{{foto3Desc}}" />
      <p>{{foto3Desc}}</p>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
